.container {
  margin: 200px 700px;
  border: 4px solid greenyellow;
  padding: 30px;
  size: 31rem;
  display: grid;
  justify-content: center;
  align-content: center;


}

.btn {
  padding: 20px;
  background-color: aqua;
  font-size: 2rem;
  border: 4px solid gray;
  cursor: pointer;
  color: blue;
  border-radius: 22px;
  /* width: 40%; */

}

.heading-style {
  font-size: 4rem;
  text-align: center; 
}